
.input-tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    font-size: 12px;
    color: black;
    font-weight: bold;
    margin-top: -60px;
    margin-left: 47px;
    padding: 5px;

}

.page-atmoverview {
    height: 100vh;
    width: 120vh;
    background-image: url(../../assets/images/atm-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.atm-container {
    height: 258px;
    width: 310px;
    margin-right: 194px;
    background-color: #e8eddf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container-atmoverview {
    height: 120px;
    width: 270px;
    margin-top: 88px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.option-tarjeta {
    border-radius: 10px;
    margin-top: 70px;
    height: 30px;   
    width: 90px;
    font-size: 10px;
    color: white;
    background-color: blue;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
}

.atm-tapa-derecha {
    height: 130px;
    width: 50px;
    /* font-size: 20px; */
    position: fixed;
    margin-top: -105px;
    margin-left: 160px;
    color: white;
    background-image: url(../../assets/images/tapa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
    transition: all 0.2s ease-in-out;
}

.atm-tapa-izquierda {
    height: 130px;
    width: 50px;
    /* font-size: 20px; */
    position: fixed;
    margin-top: -105px;
    margin-left: -207px;
    color: white;
    background-image: url(../../assets/images/tapa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
    transition: all 0.2s ease-in-out;
}

.atm-button-right-arriba-1 {
    height: 31px;
    width: 50px;
    /* font-size: 20px; */
    position: fixed;
    margin-top: -105px;
    margin-left: 160px;
    color: white;
    background-image: url(../../assets/images/boton-izquierda-default.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
    transition: all 0.2s ease-in-out;
}

.atm-button-right-arriba-1:hover {
    cursor: pointer;
    background-image: url(../../assets/images/boton-izquierda-selected.jpg);
}

.atm-button-left-arriba-1 {
    height: 31px;
    width: 50px;
    /* font-size: 20px; */
    position: fixed;
    margin-top: -105px;
    margin-left: -207px;
    color: white;
    background-image: url(../../assets/images/boton-derecha-default.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
    transition: all 0.2s ease-in-out;
}

.atm-button-left-arriba-1:hover {
    cursor: pointer;
    background-image: url(../../assets/images/boton-derecha-selected.jpg);
}


.atm-button-right-arriba-2 {
    height: 31px;
    width: 50px;
    /* font-size: 20px; */
    position: fixed;
    margin-top: -40px;
    margin-left: 160px;
    color: white;
    background-image: url(../../assets/images/boton-izquierda-default.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
    transition: all 0.2s ease-in-out;
}

.atm-button-right-arriba-2:hover {
    cursor: pointer;
    background-image: url(../../assets/images/boton-izquierda-selected.jpg);
}

.atm-button-left-arriba-2 {
    height: 31px;
    width: 50px;
    /* font-size: 20px; */
    position: fixed;
    margin-top: -40px;
    margin-left: -207px;
    color: white;
    background-image: url(../../assets/images/boton-derecha-default.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
    transition: all 0.2s ease-in-out;
}

.atm-button-left-arriba-2:hover {
    cursor: pointer;
    background-image: url(../../assets/images/boton-derecha-selected.jpg);
}

.atm-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    font-size: 12px;
    color: black;
    font-weight: bold;
    margin-top: -150px;
}

.error-message-tarjeta-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    margin-left: 3px;
    color: red;
    font-weight: bold;
    font-size: 10px;
}
